<html>

<head>
    <title>
        Force layout
    </title>
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
    <!--<script src="../d3/d3.v4.js"></script>
    <script src="../d3/d3.v4.min.js"></script>-->
    <script src='http://d3js.org/d3.v3.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
    <style>
        .node {
            /*fill: #ccc;*/
            stroke: #fff;
            stroke-width: 2px;
        }
        
        .link {
            stroke: #777;
            stroke-width: 2px;
        }
        
        #tooltip {
            position: absolute;
            width: 20px;
            height: auto;
            padding: 10px;
            background-color: white;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
            pointer-events: none;
        }
        
        #tooltip.hidden {
            display: none;
        }
        
        #tooltip p {
            margin: 0;
            font-family: sans-serif;
            font-size: 16px;
        }
        /*svg {
            background-color: grey;
        }*/
    </style>
</head>

<body>
    <div id="tooltip" class="hidden">
        <!--<p><strong>Important Label Heading</strong></p>-->
        <p><span id="value"></span></p>
    </div>
    <button type="button" id="btn">Randomize</button>
    <script>
        var data = {
            nodes: [{
                "label": "A",
                "x": 469,
                "y": 410
            }, {
                "label": "B",
                "x": 493,
                "y": 364
            }, {
                "label": "C",
                "x": 442,
                "y": 365
            }, {
                "label": "D",
                "x": 467,
                "y": 314
            }, {
                "label": "E",
                "x": 477,
                "y": 248
            }, {
                "label": "F",
                "x": 425,
                "y": 207
            }, {
                "label": "G",
                "x": 402,
                "y": 155
            }, {
                "label": "H",
                "x": 369,
                "y": 196
            }, {
                "label": "I",
                "x": 350,
                "y": 148
            }, {
                "label": "J",
                "x": 539,
                "y": 222
            }, {
                "label": "K",
                "x": 594,
                "y": 235
            }, {
                "label": "L",
                "x": 582,
                "y": 185
            }, {
                "label": "M",
                "x": 633,
                "y": 200
            }],
            links: [{
                "source": 0,
                "target": 1
            }, {
                "source": 1,
                "target": 2
            }, {
                "source": 2,
                "target": 0
            }, {
                "source": 1,
                "target": 3
            }, {
                "source": 3,
                "target": 2
            }, {
                "source": 3,
                "target": 4
            }, {
                "source": 4,
                "target": 5
            }, {
                "source": 5,
                "target": 6
            }, {
                "source": 5,
                "target": 7
            }, {
                "source": 6,
                "target": 7
            }, {
                "source": 6,
                "target": 8
            }, {
                "source": 7,
                "target": 8
            }, {
                "source": 9,
                "target": 4
            }, {
                "source": 9,
                "target": 11
            }, {
                "source": 9,
                "target": 10
            }, {
                "source": 10,
                "target": 11
            }, {
                "source": 11,
                "target": 12
            }, {
                "source": 12,
                "target": 10
            }]
        };

        var c10 = d3.scale.category20();
        var svg = d3.select("body")
            .append("svg")
            .attr("width", 800)
            .attr("height", 600);

        var drag = d3.behavior.drag()
            .on("drag", function(d, i) {
                d.x += d3.event.dx
                d.y += d3.event.dy
                d3.select(this).attr("cx", d.x).attr("cy", d.y);
                links.each(function(l, li) {
                    if (l.source == i) {
                        d3.select(this)
                            .attr("x1", d.x)
                            .attr("y1", d.y)
                    } else if (l.target == i) {
                        d3.select(this)
                            .attr("x2", d.x)
                            .attr("y2", d.y)
                    }
                });
            });

        var links = svg.selectAll("link")
            .data(data.links)
            .enter()
            .append("line")
            .attr("class", "link")
            .attr("x1", function(l) {
                var sourceNode = data.nodes.filter(function(d, i) {
                    return i == l.source
                })[0];
                d3.select(this).attr("y1", sourceNode.y);
                return sourceNode.x
            })
            .attr("x2", function(l) {
                var targetNode = data.nodes.filter(function(d, i) {
                    return i == l.target
                })[0];
                d3.select(this).attr("y2", targetNode.y);
                return targetNode.x
            })
            .attr("fill", "black")
            .attr("stroke", "black");

        var nodes = svg.selectAll("node")
            .data(data.nodes)
            .enter()
            .append("circle")
            .attr("class", "node")
            .attr("cx", function(d) {
                return d.x
            })
            .attr("cy", function(d) {
                return d.y
            })
            .attr("r", 15)
            .attr("fill", function(d, i) {
                //console.log(c10(i));
                return c10(i);
            })
            .attr("value", function(d) {
                return d.label;
            })
            .text(function(d) {
                return d.label;
            })
            // .text(function(d) {
            //     return d.name;
            //     //console.log(d);
            // })
            // .attr("text-color", "red")
            .call(drag)
            .on("mouseover", function(d) {
                d3.select(this)
                    .transition()
                    .duration(1000)
                    .attr("fill", "orange")
                    // var xPosition = parseFloat(d3.select(this).attr("x")) + xScale.rangeBand() / 2;
                    // var yPosition = parseFloat(d3.select(this).attr("y")) + 14;
                    //var xPosition = parseFloat(d3.select(this).attr("x")); // + xScale.rangeBand() / 2;
                    //var yPosition = parseFloat(d3.select(this).attr("y")) / 2 + h / 2;
                    //Update the tooltip position and value
                d3.select("#tooltip")
                    .style("left", d3.event.x + "px")
                    .style("top", d3.event.y + "px")
                    .select("#value")
                    .text(d.label);
                //Show the tooltip
                d3.select("#tooltip").classed("hidden", false);
            })
            .on("mouseout", function() {
                d3.select(this)
                    .transition()
                    .duration(1000)
                    .attr("fill", function(d, i) {
                        return "rgb(" + d.x % 255 + "," + d.x % 255 + ", " + d.y % 255 + ")";
                    })
                d3.select("#tooltip").classed("hidden", true);
            })
            // d3.json("dataForce.json", function(error, graph) {
            //     alert(graph);
            // });
        var label = svg.selectAll(".mytext")
            .data(nodes)
            .enter()
            .append("text")
            .text(function(d) {
                return d.label;
            })
            .style("text-anchor", "middle")
            .style("fill", "white")
            .style("font-family", "Arial")
            .style("font-size", 12);
        d3.select("#btn")
            .on("click", function() {

            })
    </script>
</body>

</html>