<html>

<head>
    <title>tree layout 1</title>
    <style>
        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 3px;
        }
        
        .node text {
            font: 12px sans-serif;
        }
        
        .node--internal text {
            text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
        }
        
        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 2px;
        }
    </style>
    <script src="../d3/d3.v4.min.js"></script>

</head>

<body>
    <script>
        var treeData = {
            "name": "Top Level",
            "value": 10,
            "type": "black",
            "level": "red",
            "children": [{
                "name": "Level 2: A",
                "value": 15,
                "type": "grey",
                "level": "red",
                "children": [{
                    "name": "Son of A",
                    "value": 5,
                    "type": "steelblue",
                    "level": "orange"
                }, {
                    "name": "Daughter of A",
                    "value": 8,
                    "type": "steelblue",
                    "level": "red"
                }]
            }, {
                "name": "Level 2: B",
                "value": 10,
                "type": "grey",
                "level": "green"
            }]
        };
    </script>
</body>

</html>